/* Common styles for all portfolio projects */

#home-link {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
    text-align: left;
}
